/* Header component styles */
header {
    width: 100%;
    @include createShadow();
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}
.button-dark {
    border: none;
    background-color: transparent;
    cursor: pointer;
    outline: none;
}